<!DOCTYPE html>
<html lang="en">
<head>
  <title>Find your testset</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="alert alert-danger" id="ans">
  </div>
  <div class="container">  
    <div id="myjumbotron" class="jumbotron mt-3">
      <h1>Check with testset</h1>
      <label for="word">upload an image:</label>
      <input id="myfile" name="myfile" type="file"/>
      <label for="word">input its ground truth:</label>
      <div class="input-group">  
        <input type="text" class="form-control" id="word">
        <span class="input-group-btn">
          <button class="btn btn-success" id="getdata">
            <span class="glyphicon glyphicon-wrench"></span> Get vector
          </button>
        </span>
      </div>
      <hr>
      <div>
        <canvas id="pca">
        </canvas>
      </div>
    </div>
  </div>
  <script>
    const getOrCreateTooltip = (chart) => {
      let tooltipEl = chart.canvas.parentNode.querySelector('div');

      if (!tooltipEl) {
        tooltipEl = document.createElement('div');
        tooltipEl.style.background = 'rgba(0, 0, 0, 0.7)';
        tooltipEl.style.borderRadius = '3px';
        tooltipEl.style.color = 'white';
        tooltipEl.style.opacity = 1;
        tooltipEl.style.pointerEvents = 'none';
        tooltipEl.style.position = 'absolute';
        tooltipEl.style.transform = 'translate(-50%, 0)';
        tooltipEl.style.transition = 'all .1s ease';

        const table = document.createElement('table');
        table.style.margin = '0px';

        tooltipEl.appendChild(table);
        chart.canvas.parentNode.appendChild(tooltipEl);
      }

      return tooltipEl;
    };

    const externalTooltipHandler = (context) => {
      const {chart, tooltip} = context;
      const tooltipEl = getOrCreateTooltip(chart);

      // Hide if no tooltip
      if (tooltip.opacity === 0) {
        tooltipEl.style.opacity = 0;
        return;
      }

      if (tooltip.body) {

        // const titleLines = tooltip.title || [];
        const bodyLines = tooltip.body.map(b => b.lines);
        const tableHead = document.createElement('thead');

        // titleLines.forEach(title => {
        //   const tr = document.createElement('tr');
        //   tr.style.borderWidth = 0;

        //   const th = document.createElement('th');
        //   th.style.borderWidth = 0;
        //   const text = document.createTextNode(title);

        //   th.appendChild(text);
        //   tr.appendChild(th);
        //   tableHead.appendChild(tr);
        // });

        const tableBody = document.createElement('tbody');
        tooltip.dataPoints.forEach((body, i) => {
          const colors = tooltip.labelColors[i];

          const span = document.createElement('span');
          span.style.background = colors.backgroundColor;
          span.style.borderColor = colors.borderColor;
          span.style.borderWidth = '2px';
          span.style.marginRight = '10px';
          span.style.height = '10px';
          span.style.width = '10px';
          span.style.display = 'inline-block';

          const tr = document.createElement('tr');
          tr.style.backgroundColor = 'inherit';
          tr.style.borderWidth = 0;

          const td = document.createElement('td');
          td.style.borderWidth = 0;

          const div = document.createElement('div');
          const text = document.createTextNode(body.dataset.label[body.dataIndex]);
          const img = document.createElement('img');
          const urlTarget = window.location.protocol + "//" + window.location.host + '/media/' + body.dataset.label[body.dataIndex];
          img.src = urlTarget;
          

          td.appendChild(span);
          div.appendChild(text);
          td.appendChild(div);
          td.appendChild(img)
          tr.appendChild(td);
          tableBody.appendChild(tr);
        });

        const tableRoot = tooltipEl.querySelector('table');

        // Remove old children
        while (tableRoot.firstChild) {
          tableRoot.firstChild.remove();
        }

        // Add new children
        tableRoot.appendChild(tableHead);
        tableRoot.appendChild(tableBody);
      }

      const {offsetLeft: positionX, offsetTop: positionY} = chart.canvas;

      // Display, position, and set styles for font
      tooltipEl.style.opacity = 1;
      tooltipEl.style.left = positionX + tooltip.caretX + 'px';
      tooltipEl.style.top = positionY + tooltip.caretY + 'px';
      tooltipEl.style.font = tooltip.options.bodyFont.string;
      tooltipEl.style.padding = tooltip.options.padding + 'px ' + tooltip.options.padding + 'px';
    };
    

    let chart = new Chart($("#pca"), {
      type: 'scatter',
      data: {
        labels: "image",
        datasets: [{
          label: [],
          data: [],
          backgroundColor: '#337ab7',
          borderColor: '#337ab7',
          borderWidth: 1,
          fill: false,
          pointRadius: 8,
          pointHoverRadius: 8
        }]
      },
      options: {
        // tooltips: {
        //   callbacks: {
        //     label: function(tooltipItem, data) {
        //       const label = data.labels[tooltipItem.index];
        //       return label;
        //     }
        //   }
        // }
        plugins: {
          tooltip: {
            enabled: false,
            position: 'nearest',
            external: externalTooltipHandler
          }
        }
      }
    });
    
    function showErrorMsg(xhr) {
      $('#ans').text(`[${xhr.status}] ${xhr.responseText}`);
      $('#ans').show()
    }
    
    function getPca() {
      const urlTarget = window.location.protocol + "//" + window.location.host + '/pca/get/';
    
      $.ajax({
        type: 'GET',
        dataType: 'json',
        url: urlTarget,
        success: function(data) {
          console.log(data)
          if (data.vectors.length > 1) {
            let res = [];
            let filenames = [];
            for (let p=0; p<data.vectors.length; ++p) {
              res.push({
                "x": data.vectors[p][0],
                "y": data.vectors[p][1]
              });

              filenames.push(data.filenames[p])
            }

            chart.data.datasets[0].label = filenames;
            chart.data.datasets.forEach((dataset) => {
              dataset.data = res;
            });
            chart.update();
          }
        },
        error: function(xhr, textStatus, errorThrown) {
          showErrorMsg(xhr);
        },
      });
    }

    function getVector() {
      const urlTarget = window.location.protocol + "//" + window.location.host + '/vector/get/';
    
      var file_data = $("#myfile").prop("files")[0]; 
      var form_data = new FormData(); 
      form_data.append("myfile", file_data)
      form_data.append("word", $('#word').val())

      $.ajax({
        type: 'POST',
        dataType: 'json',
        processData: false, // important
        contentType: false, // important
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: form_data,
        url: urlTarget,
        success: function(data) {
          console.log(data)
          if (data.vectors.length > 1) {
            let res = [];
            for (let p=0; p<data.vectors.length; ++p) {
              res.push({
                "name": data.filenames[p],
                "x": data.vectors[p][0],
                "y": data.vectors[p][1]
              });
            }

            chart.data.datasets.forEach((dataset) => {
              dataset.data = res;
            });
            chart.update();
          }
        },
        error: function(xhr, textStatus, errorThrown) {
          showErrorMsg(xhr);
        },
      });
    }

    $(document).ready(function() {
      $('#ans').hide();
      $('#getdata').on('click', getVector);

      getPca();
    });
  </script>
</body>
</html>
